html {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(109, 81, 114);
  }
  html, body {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .characterInfo{
    height: 550px;
    padding: 30px;
    font-size: 24px;
    border: dotted;
    text-align: center;
  }
  input[type="submit"], button {
    background-color: rgb(15, 90, 175);
    color: white;
    font-size: 18px;
    border-radius: 6px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  input[type="text"] {
    font-size: 3vh;
  }
  #image{
    width: 300px;
    height: 300px;
  }